!!! XML
%Response
  %Say Thank you for calling my Twilio Mongo Bootstrap
  %Gather{:action => "/connect_extension", :method => "POST"}
    %Say To call another member of the tree, please select one of the following
    - @users.each do |user|
      %Say For #{user["name"]} dial #{user["extension"]}
