!!! XML
%Response
  %Sms Respond to this text with your name.
  %Say Thank you for calling my Twilio Mongo Bootstrap
  %Say Regretfully, we don't know who you are. Please text your name to (205) 683-2303 to sign up.
